<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Division</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="form-div">
    <form action="/div/number" method="post">
        <label for="num1">Number 1</label>
        <input type="text" name="num7" value="">
        <label for="num2">Number 2</label>
        <input type="text" name="num8" value="">
        <button>Divide</button>
    </form>
    </div>
</body>
</html>